body {
  background-color:#F3DAD7;
  #logo {
    font-family: Georgia;
    color:#4D4D4D;
    text-align:center;
    text-shadow: 2px 2px 3px #808080;
    font-size: 52px;
    margin-top: 10%; 
  }
}
